<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% if title %}{{ title }} | {% endif %}Leostarearn Hub</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  {% include "header.njk" %}

  <main>
<div class="table-scroll">
  {{ content | safe }}
</div>
  </main>

  {% include "footer.njk" %}
</body>
</html>


